.wrap-cart {
    cursor: pointer;
    padding: 9px;
    margin-right: 20px;
    position: relative;
    display: flex;
    align-items: center;
    

    p {
        margin-bottom: 20px;
        position: absolute;
        margin-left: 15px;
        font-size: 1.4rem;
        height: 19px;
        width: 15px;
        text-align: center;
        background-color: #fff;
        color: var(--primary-text);
        border-radius: 50%;
    }
}

.wrap-modal {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .25);
    z-index: 2;
}

.cart {
    width: 430px;
    max-width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 3;
    position: fixed;
    color: var(--text-color);
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 32px 28px;
    transform: translateX(100%);
    transition-delay: 2s;
    transition: transform 0.4s ease-in-out;
}

.toggle-cart {

    transform: translateX(0);

}

.icon-mark-cart {
    align-self: flex-end;
    font-size: 2.6rem;
    padding: 4px 4px 4px 12px;
    cursor: pointer;
}

.height-cart {
    overflow: scroll;
}

.product-cart {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    justify-content: space-between;
    &:hover {
        border-radius: 6px;
        cursor: pointer;
        background-color: var(--background-color);
    }
}

.product-cart+.product-cart {
    border-top: 1px solid #b8b8b9;
}

.cart-img {
    height: 100px;
    width: 100px;
}
.wrapper-cart {
    max-width: 230px;
    width: 100%;
}

.name-cart {
    font-weight: 600;
    font-size: 1.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.price-cart {
    font-size: 1.6rem;
    font-weight: 400;
}

.cartItem__removeButton {
    padding: 16px 8px;
    cursor: pointer;
}

.footer-cart {}

.wrap-total {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    justify-content: center;
    padding: 16px 12px;
    cursor: default;
    border-top: 1px solid #b8b8b9;
    border-bottom: 1px solid #b8b8b9;

    p+p {
        margin-left: 8px;
    }
}

.wrap-pay {
    width: 100%;
    padding: 16px 24px 0;
}

.cart-buy {
    text-align: center;
    background-color: var(--primary);
    color: #fff;
    font-size: 2rem;
    padding: 12px 4px;
    border-radius: 16px;
    cursor: pointer;
    display: block;
}

//empty cart
.note {
    font-size: 1.6rem;
    color: var(--text-color);
}

// Mobile
@media (max-width: '739px') {
    .cart {
        width: 100%;
    }
}