.heading {
    margin-bottom: 24px;
    margin-top: 60px;
    text-align: center;
    cursor: default;
}

.wrapper {
    display: block;
    background-color: #fff;
    padding-bottom: 48px;
    padding-top: 24px;
    border-radius: 16px;
    border: 1px solid #02010100;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.04);
    transition: background-color 0.3s, border 0.2s, border-radius 0.2s, box-shadow 0.2s;

    &:hover {
        cursor: pointer;
        border: 1px solid #02010100;
        box-shadow: 1px 1px 28px 0px rgb(0, 0, 0, 0.12);
    }
}

.background-product {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 75%;
}

.product-name {
    margin: 24px 4px 16px 24px;
    font-size: 2rem;
    font-weight: 700;
    height: 6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product-price {
    margin-left: 24px;
    font-size: 1.8rem;
    color: var(--primary);
    font-weight: 600;
}

.wrap-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 48px;
}

.button-wrapper {
    margin-top: 36px;
    text-align: center;
}

.button {
    color: var(--primary);
    background-color: var(--background-color);
    border-radius: 8px;
    border: 1px solid var(--primary);
    padding: 12px 24px;
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--primary);
        color: #fff;
    }
}

//Tablet
@media (max-width: 1024px) {
    .wrapper {
        margin-top: 12px;
    }
}

// Mobile
@media (max-width: 739px) {
    .background-product {
        padding-top: 70%;
    }
    .product-name {
        height: 5rem;
    }
}
// Max-width : 1270px
@media (max-width: '1270px') {
    .product-name {
        font-size: 1.8rem;
    }
    .product-price {
        font-size: 1.6rem;
    }
}