.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// .container {
//     width: 100%;
//     margin-top: 68px;
// }
.button__arrow-top {
    position: fixed;
    bottom: 120px;
    right: 36px;
    background-color: #fff;
    color: #86868b;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 1px 1px 28px 0px rgb(0, 0, 0, 0.2);
}

//Mobile 
@media (max-width: 739px) {
    .button__arrow-top {
        display: none;
        bottom: 12px;
        right: 12px;
        width: 40px;
        height: 40px
    }
}
