.wrapper_heading {
    max-width: 1440px;
    margin: 0 auto;
    padding: 16px 0;
}

.link_page {
    display: flex;
    padding-bottom: 32px;
}

.link_heading {
    color: var(--primary);
    padding-left: 8px;
    cursor: default;
}

.heading {
    text-align: center;
    font-size: 4rem;
}

.wrapper {
    display: block;
    background-color: #fff;
    padding-bottom: 48px;
    border-radius: 16px;
    margin: 12px;
    border: 1px solid #02010100;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.04);
    transition: background-color 0.3s, border 0.2s, border-radius 0.2s, box-shadow 0.2s;

    &:hover {
        cursor: pointer;
        border: 1px solid #02010100;
        box-shadow: 1px 1px 28px 0px rgb(0, 0, 0, 0.12);
    }
}

.background-product {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 75%;
}

.product-name {
    margin: 4px 32px 16px 24px;
    font-size: 2rem;
    font-weight: 700;
    height: 5.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    -webkit-overflow-scrolling: touch;
    touch-action: none;
    -ms-touch-action: none;
}

.product-price {
    margin: 0px 24px;
    font-size: 1.8rem;
    color: var(--primary);
    font-weight: 600;
}

@media (max-width: '1270px') {
    .product-name {
        font-size: 1.8rem;
        height: 5rem;
    }

    .product-price {
        font-size: 1.6rem;
    }
}