.wrapper {
    background-color: #1d1d1f;
    width: 100%;
    padding: 32px 0px 48px;
}
.wrap-logo {
    padding: 0 16px;
}
.text {
    color: var(--white);
    text-align: justify;
    padding-top: 12px;

}

.wrap-icon {
    display: flex;
    color: var(--white);
    font-size: 2.4rem;
    margin-top: 12px;
}

.icon+.icon {
    margin-left: 24px;
}

.wrap-content {
    padding: 0 16px;
    .wrap-heading {
        display: flex;
        justify-content: space-between;
        .icon {
            display: none;
            color: var(--white)
        }
    }
}

.heading {
    color: var(--white);
    font-weight: 600;
    font-size: 1.6rem;
}

.wrap__column-footer {
    line-height: 1.7;
    padding-top: 16px;
}

.information {
    font-size: 1.4rem;
    font-weight: 300;
    color: #86868b;
    position: relative;
    list-style: none;

    &:before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #86868B;
        transform: scaleX(0);
        transform-origin: top left;
        transition: transform 0.4s ease;
    }

    &:hover:before {
        transform: scaleX(1);
    }
}

.information-call {
    font-size: 1.4rem;
    font-weight: 300;
    color: #86868b;
    cursor: default;
}

.call {
    cursor: pointer;
    padding-left: 4px;
    color: var(--primary);
}

.bocongthuong {
    width: 75%;
    margin-top: 8px;
    display: block;
}

// Tablet
@media (max-width: 1024px) {
    .wrap-logo {
        margin-bottom: 16px;
    }
    .wrap-content {
        padding-bottom: 16px;
    }
}

// Mobile
@media (max-width: 739px) {
    .wrapper {
        padding: 8px 0 36px;
    }
    .wrap-logo {
        padding: 0;
        .img-logo {
            width: 50%;
            display: block;
        }
        .wrap-icon {
            display: none;
        }
    }
    .wrap-content {
        padding: 16px 0;
        border-bottom: 0.5px solid var(--footer-text);
        .wrap-heading {
            .icon {
                display: block;
            }
        }
    }
    
    .wrap__column-footer {
        height: 0;
        overflow: hidden;
        padding: 0;
        transition: height .4s ease, .5s padding ;
    }
    .animate {
        height: 130px;
        padding-top: 16px;        
    }
    .wrap-contact {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;
        .bocongthuong {
            width: 60%;
            display: block;
            margin: 0;
        }
        .wrap-icon {
            margin: 0;
        }
    }

}