.wrap {
  padding-top: 48px;

  .img-product {
    width: 100%;
    padding: 20px;
  }

  .wrap-heading {
    padding-right: 12px;

    .heading {
      font-size: 3rem;
      font-weight: 600;
    }

    .separate {
      content: "";
      width: 100%;
      height: 0.8px;
      background-color: #d2d2d7;
      margin: 16px 0 12px 0;
    }

    .price {
      font-size: 2.4rem;
      font-weight: 600;
    }

    .wrap-storage {
      padding-top: 28px;

      .storage-heading {
        font-size: 2rem;
        font-weight: 400;
      }

      .wrap-option {
        display: flex;
        margin-top: 16px;
        .row-storage {
          display: flex;
          flex-wrap: wrap;
        }
        .option {
          background-color: #fff;
          padding: 8px 24px;
          font-size: 2rem;
          border: 1px solid transparent;
          border-radius: 8px;
          cursor: pointer;
          transition: border 0.2s linear;
          margin: 0 12px 20px 0;

          &:hover {
            border: 1px solid var(--primary);
          }
        }

        .active {
          border: 1px solid var(--primary);
        }

        @media (max-width: "739px") {
          .option {
            padding: 8px 16px;
          }
        }
      }
    }

    .wrap-color {
      margin-top: 24px;

      .heading-color {
        font-size: 2rem;
        font-weight: 400;
      }

      .option-color {
        display: flex;
        margin-top: 24px;

        .radio-color {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          cursor: pointer;
          border: 4px solid #fff;
          box-sizing: border-box;
        }

        .purple {
          background-color: #61586b;
        }

        .gray {
          background-color: #999;
        }

        .gold {
          background-color: #fcebd3;
        }

        .space {
          transition: border 0.2s linear;
          border: 1px solid transparent;
          border-radius: 50%;

          &:hover {
            border: 1px solid var(--primary);
          }
        }

        .active {
          border: 1px solid var(--primary);
          border-radius: 50%;
        }

        .space + .space {
          margin-left: 16px;
        }
      }
    }

    .wrap-buy {
      display: flex;
      margin-top: 48px;

      .box-buy {
        width: 50%;
        text-align: center;
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer */
        -khtml-user-select: none;
        /* KHTML browsers (e.g. Konqueror) */
        -webkit-user-select: none;
        /* Chrome, Safari, and Opera */
        -webkit-touch-callout: none;
        /* Disable Android and iOS callouts*/

        .buy-cash {
          display: block;
          border-radius: 8px;
          padding: 12px 24px;
          background-color: var(--primary);
          color: #fff;
          border: 1px solid var(--primary);
          cursor: pointer;
        }

        .add-to-list {
          border-radius: 8px;
          padding: 12px 24px;
          color: var(--primary);
          border: 1px solid var(--primary);
          cursor: pointer;
          background-color: #fff;
        }
      }

      .box-buy + .box-buy {
        margin-left: 16px;
      }
    }

    @media (max-width: 1024px) {
      .wrap-buy {
        flex-direction: column;
        margin-top: 24px;

        .box-buy {
          width: 100%;
        }

        .box-buy + .box-buy {
          margin: 16px 0 0 0;
        }
      }
    }
    @media (max-width: 739px) {
      .wrap-buy {
        z-index: 9999;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .buy-cash,
      .add-to-list {
        border-radius: 0 !important;
        padding: 16px 24px !important;
        font-size: 1.6rem;
      }
      .box-buy + .box-buy {
        margin: 0 !important;
      }
    }
    .wrap-option-information {
      margin-top: 48px;
      padding: 8px 16px;
      background-color: #fff;
      border-radius: 8px;

      .wrap-content {
        display: flex;
        align-items: center;
        margin: 12px 0;

        .icon-check {
          color: var(--primary);
        }

        .content {
          margin-left: 16px;
          font-size: 1.8rem;
          color: var(--primary-text);
        }
      }
    }
  }

  .wrap-information {
    margin: 24px -12px 0;

    .wrap-heading {
      display: flex;
      border-bottom: 1px solid #d2d2d7;

      .heading {
        font-size: 2rem;
        font-weight: 600;
        color: var(--footer-text);
        padding: 12px 20px;
        border-bottom: 3px solid transparent;
        cursor: pointer;
      }

      .active {
        color: var(--primary);
        border-bottom: 3px solid var(--primary);
      }

      .heading + .heading {
        margin-left: 16px;
      }
    }

    .wrap-content {
      margin-top: 36px;
      width: 100%;
      background-color: #fff;
      border-radius: 8px;

      .padding-content {
        padding: 48px 48px 20px;

        .information-center {
          margin: 0 auto;
          max-width: 600px;
          width: 100%;
          font-size: 1.4rem;
        }
      }

      @media (max-width: 739px) {
        .padding-content {
          padding: 8px;
        }
      }

      .tab {
        display: none;
      }

      .active {
        display: block;
      }
    }
  }

  @media (max-width: 739px) {
    .wrap-heading {
      padding: 0;
      margin-top: 32px;
    }
  }
}
