.wrap {
    margin-top: 60px;
    min-height: 500px;
    text-align: center;
    font-size: 5rem;
    color: var(--text-color);
    h1 {
        font-size: 3rem;
        margin: 32px 0;
    }
}
.button-backtoshop {
    font-size: 1.8rem;
    color: #fff;
    background-color: var(--primary);
    padding: 20px 28px;
    border-radius: 6px;
}